{% extends "blog/base.html" %}

{% block body_block %}
	<div class="pages-container">
		<div class="box-container">
				{% if registered %}
					<h1>THANK YOU FOR REGISTERING</h1>
				{% else %}
					<h1>REGISTER HERE</h1>
					<h3>Fill out the form:</h3>
		
					<form enctype="multipart/form-data" method="POST">
						{% csrf_token %}
						{{ user_form.as_p}}
						{{ profile_form.as_p }}
		
						<input type="submit" value="Register" class="button">
						
					</form>
				{% endif %}
		</div>
		
	</div>
	


{% endblock body_block %}		